html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.game-container {
    display: flex;
    justify-content: center;
}

.background-screen {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    width: 800px;
    height: 700px;
}

.game-board {
    width: 450px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.3);
}


.game-tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    width: 450px;
    height: 450px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: lightgray;
    height: 90%;
    width: 90%;
    font-size: 100px;
    transition: 0.3s;
}

.tile:hover {
    cursor: pointer;
    background-color: rgba(189, 189, 189, 0.774);
}



.players-turn {
    display: flex;
    gap: 20px;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    letter-spacing: 2px;
}

.header {
    font-size: 40px;
    font-weight: bolder;
    color: #5b305a;
    text-shadow: #e04b5a 4px 4px;
    letter-spacing: 5px;
}


.players {
    display: flex;
    gap: 150px;
    margin-top: 20px;
    margin-bottom: 170px;

}



.player-1{
    color: #e49756;
    text-shadow: #e04b5a 2px 2px;
}

.X {
    color: #e49756;
    text-shadow: #e04b5a 3px 3px;
}

.O {
    color: #9a4c68;
    text-shadow: #e04b5a 3px 3px;
}

.player-2{
    color: #9a4c68;
    text-shadow: #e04b5a 2px 2px;
}

.start-buttons {
    display: flex;
    justify-content: center;
}

.name-value {
    display: flex;
    margin: 0px 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    font-weight: bolder;
}

.value {
    font-size: 34px;
}

.inputs {
    outline: none;
    width: 30vh; 
    height: 30px;
    border-radius: 4px;
    font-size: 22px;
    border: #E5E7EB solid 2px;
}

.player-1 > .inputs:focus {
    border: #e49756 solid 2px;
    background-color: rgba(224, 75, 90, 0.5);
}

.player-2 > .inputs:focus {
    border: #9a4c68 solid 2px;
    background-color:rgba(224, 75, 90, 0.5)
}

.submitbtn {
    background-color: rgba(206, 206, 206, 0.6);
    border: 0px;
    font-size: 34px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 8px;
    letter-spacing: 3px;
    color: #5b305a;
    text-shadow: #e04b5a 2px 2px;
}

.submitbtn:hover {
    color: #5b305a;
}

/* Logic for animating the button */
@-webkit-keyframes pulse-on-hover {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        text-shadow: #e04b5a 3px 3px;

    }
}

@keyframes pulse-on-hover {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        text-shadow: #e04b5a 3px 3px;
        
    }
}

.pulse-on-hover:hover, .pulse-on-hover:focus, .pulse-on-hover:active {
    -webkit-animation-name: pulse-on-hover;
    animation-name: pulse-on-hover;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

  /* End of logic for animating button  */

  .unactive {
    display: none;
  }

  .active {
    display: block;
  }